In [6]:
import pandas as pd

In [7]:
data = pd.read_csv("E:/intern/pandas_numpy/data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K


1. Посчитайте, сколько мужчин и женщин (признак sex) представлено в этом датасете

In [8]:
sex_counts = data['sex'].value_counts()
print(sex_counts)

sex
Male      21790
Female    10771
Name: count, dtype: int64

2. Каков средний возраст мужчин (признак age) по всему датасету?

In [9]:
average_male_age = data[data['sex'] == 'Male']['age'].mean()
print(average_male_age)

39.43354749885268


3. Какова доля граждан Соединенных Штатов (признак native-country)?

In [10]:
us_ratio = data['native-country'].value_counts(normalize=True).loc['United-States']
print(us_ratio)

0.895857006848684


4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год

In [11]:
stats_by_salary = data.groupby('salary')['age'].agg(['mean', 'std'])
print(stats_by_salary)

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028


6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [12]:
higher_education_levels = {'Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'}
high_income = data[data['salary'] == '>50K']
non_higher_edu = high_income[~high_income['education'].isin(higher_education_levels)]
all_high_income_have_higher_edu = non_higher_edu.empty

print("Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? ", all_high_income_have_higher_edu)

Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование?  False


7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Asian-Pac-Islander.

In [13]:
age_stats = data.groupby(['race', 'sex'])['age'].describe()
print(age_stats)

max_age_asian_male = data[(data['race'] == 'Asian-Pac-Islander') & (data['sex'] == 'Male')]['age'].max()
print("\nМаксимальный возраст мужчин расы Asian-Pac-Islander:", max_age_asian_male)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

Максимальный возраст мужчин расы Asian-Pac-Islander: 90

8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [14]:
data['married'] = data['marital-status'].str.startswith('Married')
men = data[data['sex'] == 'Male']
income_ratio_by_marital = men.groupby('married')['salary'].apply(lambda x: (x == '>50K').mean())

print(income_ratio_by_marital)

married
False    0.084495
True     0.440514
Name: salary, dtype: float64


9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [15]:
max_hours = data['hours-per-week'].max()
num_max_hours_people = data[data['hours-per-week'] == max_hours].shape[0]
high_income_ratio = data[(data['hours-per-week'] == max_hours) & (data['salary'] == '>50K')].shape[0] / num_max_hours_people

print("Максимальное количество часов в неделю:", max_hours)
print("Количество людей, работающих такое количество часов:", num_max_hours_people)
print("Доля зарабатывающих >50K среди них:", high_income_ratio)

Максимальное количество часов в неделю: 99
Количество людей, работающих такое количество часов: 85
Доля зарабатывающих >50K среди них: 0.29411764705882354


10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [16]:
mean_hours_by_country_salary = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()

print(mean_hours_by_country_salary)

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64


11.Сгруппируйте людей по возрастным группам young, adult, retiree, где:

young соответствует 16-35 лет
adult - 35-70 лет
retiree - 70-100 лет
Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup

In [17]:
def age_group(age):
    if 16 <= age < 35:
        return 'young'
    elif 35 <= age < 70:
        return 'adult'
    elif 70 <= age <= 100:
        return 'retiree'
    else:
        return 'undefined'

data['AgeGroup'] = data['age'].apply(age_group)

print(data[['age', 'AgeGroup']].head())

   age AgeGroup
0   39    adult
1   50    adult
2   38    adult
3   53    adult
4   28    young


12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)

In [19]:
total_count_by_agegroup = data.groupby('AgeGroup').size()
high_income_count_by_agegroup = data[data['salary'] == '>50K'].groupby('AgeGroup').size()
high_income_share_by_agegroup = (high_income_count_by_agegroup / total_count_by_agegroup).fillna(0)
high_income_percentage = (high_income_share_by_agegroup * 100).round(2)

print("Percentage of people earning >50K in each age group:")
print(high_income_percentage)

most_frequent_high_income_group = high_income_percentage.idxmax()
print(f"\nAge group with highest share of >50K earners: {most_frequent_high_income_group} ({high_income_percentage.max()}%)")

Percentage of people earning >50K in each age group:
AgeGroup
adult      34.89
retiree    17.97
young      10.59
dtype: float64

Age group with highest share of >50K earners: adult (34.89%)


14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)

In [28]:
occupation_counts = data.groupby('occupation').size()

print("Количество людей в каждой группе по типу занятости:")
print(occupation_counts)

def filter_func(group):
    return group['age'].mean() <= 40 and (group['hours-per-week'] > 5).all()

filtered_groups_df = data.groupby('occupation').filter(filter_func)
filtered_occupations = filtered_groups_df['occupation'].unique()

print("\nГруппы, удовлетворяющие фильтру (средний возраст <= 40 и все работают >5 часов в неделю):")
print(filtered_occupations)

Количество людей в каждой группе по типу занятости:
occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

Группы, удовлетворяющие фильтру (средний возраст <= 40 и все работают >5 часов в неделю):
['Armed-Forces']